*{
    margin: 0px;
    padding: 0px;
}
#main{
    
    margin-top: 5%;
}
#name-field{
    margin-left: 15%;
}
#age-field{
    margin-left: 15.9%;
}
#weight-field{
    margin-left: 14.6%;
}
#p1, #p2, #p3{
    width: 50%;
    margin-left: 10%;
    padding-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#bottom-section{
   
    width: 100%;
    padding-left: 4%;
    padding: 20px;
   
}
button{
    width: 12%;
    padding: 1%;
    margin-left: 13%;
}
#result{
    margin-left: 10%;
}
